{{define "nav"}}
<section id="navBar" class="border-bottom bg-white">
    <nav class="navbar navbar-expand-lg navbar-light container px-lg-2 py-3">
        <a class="navbar-brand font-weight-bold" href="/">
            config.site_name
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pl-1" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="<%- item.link; %>"><span class="nav-text">item.text</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        dropdown.key
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="<%- item.link; %>">item.text</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</section>

{{end}}
